 blockquote, ul, ol {
    
    line-height: 1.6em;
}

p {
}
#header {
	width: 1010px;
	background-color:#FFFFFF;
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: 77%;
}

#footer a {
    text-decoration: underline;
    color: #0000CC;
}

#footer a:hover {
    text-decoration: none;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #404220;
	text-align: center;
}

.title2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	color: #484B25;

}
.Fieldset
	{
	border: thin dotted #003300;
	}

.bgimg {
	background-image: url(../images/img_bst/td_dbrown_20.gif);
		}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	text-decoration: bold;
	color: #3D3E1E;
}

.small a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	text-decoration: bold;
	color: #3D3E1E;
}


.title3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #DF8600;
	text-decoration: underline;
	}

.title4 {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	color: #484B25;
	text-decoration: underline;
	}


.ttable
{
	border: 1px solid #404220;
}

.tbbdrcol
{
	background-color: #999999;
}

.aas
	{
	background-image: url(../images/img_bst/bg_ybro_122.gif);
	}
	
.tbbgcolbot
	{
	background-color: #C6CA91;
	}
.menu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #3D3E1E;
	font-weight: bold;
	border-right: 1px solid white;
	background-color: #959A4A;
	padding: 5px;
	}
	
.toolbar {
	background-color: #73B9B9;
	padding: 5px 0px 5px 0px;
	}

.menu a {
	color: #3D3E1E;
	text-decoration: bold;
}

.grenmarq
	{
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #2F5E5E;

	}


.orangesmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #404220;
	text-decoration: none;
}


td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.tbbgcol
	{
	background-color: #DDDFBF;
	
	}

.link a:visited {
	color: #0000CC;
}

.link a {
	color: #0000CC;
}


.grey {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #72716B;
}
.grey a {
	color: #3640B4;
	text-decoration: none;
}
.grey a:hover {
	text-decoration: underline;
}

.user {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #004D99;
}
.user a {
	color: #004D99;
	text-decoration: none;
}
.user a:hover {
	text-decoration: underline;
}


.bluenote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #484B25;
}
.bluenote a {
	color: #484B25;
}

.whitenote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
.whitenote a {
	color: #CCCCCC;
}



.smallLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: justify;
	color: #404220;
}
.smallLink a {
	color:#404220;
	text-decoration: none;
}
.smallLink a:hover {
	text-decoration: underline;
}

.smallLinkUnder a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003399;
}


.u{
	line-height: normal;
	color: #0000CC;
	text-decoration: underline;
	font-style: oblique;
	font-variant: normal;
}



.grncel_DRK
	{
	BORDER-RIGHT: #404220 0px solid; BORDER-TOP: #404220 0px solid; BORDER-LEFT: #404220 0px solid; BORDER-BOTTOM: #BCBF7D 1px solid; BACKGROUND-COLOR: #DDDFBF
	}
.grncel_LIT
	{
	BORDER-RIGHT: #404220 0px solid; BORDER-TOP: #404220 0px solid; BORDER-LEFT: #404220 0px solid; BORDER-BOTTOM: #404220 0px solid; BACKGROUND-COLOR: #C6CA91
	}
.org_border_cell {
	BORDER-RIGHT: #404220 1px solid; BORDER-TOP: #404220 0px solid; BORDER-LEFT: #404220 1px solid; BORDER-BOTTOM: #404220 0px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_t_cell {
	BORDER-RIGHT: #404220 1px solid; BORDER-TOP: #404220 1px solid; BORDER-LEFT: #404220 1px solid; BORDER-BOTTOM: #404220 0px solid; BACKGROUND-COLOR: #C6CA91
}
.org_border_b_cell {
	BORDER-RIGHT: #404220 1px solid; BORDER-TOP:#404220 0px solid; BORDER-LEFT: #404220 1px solid; BORDER-BOTTOM: #404220 1px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_c_cell {
	BORDER-RIGHT: #404220 1px solid; BORDER-TOP: #404220 0px solid; BORDER-LEFT: #404220 1px solid; BORDER-BOTTOM: #404220 0px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_no_cell {
	BORDER-RIGHT: #404220 0px solid; BORDER-TOP: #404220 0px solid; BORDER-LEFT: #404220 0px solid; BORDER-BOTTOM: #FDF0C6 0px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_r_cell {
	BORDER-RIGHT: #404220 1px solid; BORDER-TOP: #404220 0px solid; BORDER-LEFT: #404220 0px solid; BORDER-BOTTOM: #FDF0C6 0px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_l_cell {
	BORDER-RIGHT: #404220 0px solid; BORDER-TOP: #404220 0px solid; PADDING-LEFT: 3px; BORDER-LEFT: #404220 1px solid; BORDER-BOTTOM: #404220 0px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_nr_box {
	BORDER-RIGHT: #404220 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404220 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404220 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #404220 1px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_nl_box {
	BORDER-RIGHT: #404220 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404220 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404220 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #404220 1px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_box {
	BORDER-RIGHT: #404220 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404220 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404220 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #404220 1px solid; BACKGROUND-COLOR: #C6CA91
}

.org_border_box_bottom {
	BORDER-RIGHT: #404220 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404220 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404220 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #404220 1px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_top {
	BORDER-RIGHT: #404220 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404220 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404220 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #404220 0px solid; BACKGROUND-COLOR: #DDDFBF
}
.org_border_tb {
	BORDER-RIGHT: #404220 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #404220 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #404220 0px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #404220 1px solid; BACKGROUND-COLOR: #DDDFBF
}



.underlined a {
	color: #3640B4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: underline;
}
input {
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

select {
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
legend {
	color: #000000;
}
.azur {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #DBF7FF;
}
.whitebig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
}
.whitesmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
}
#dashed1 {
border : 1px dashed Black;
}
.asinistra {
	text-align: left;
}
