# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName haanzee.com
AuthUserFile /home/jsingh/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/jsingh/public_html/_vti_pvt/service.grp
